@CHARSET "UTF-8";
 body{
	margin:0;
	padding:0;
}
.main-table-style {
	border: 1px solid #999966;
}
.td-font-style {
	text-align: center;
}
.table-head-style {
	font-family: 华文琥珀;
	font-size: large;
}
.username-style {
	font-size: large;
	font-family: 黑体;
	color: #808080;
}
.tagname-style {
	text-align: center;
	font-family: 黑体;
	font-size: large;
	color: #808080;
}
.tagtip-style {
	font-size: small;
	color: #0000FF;

}
. table-td-text-style{
	font-size: small;
}
.radio-text{
	font-size: small;
}